/* ==========================================================================
   1. REGLES GLOBALES & TYPOGRAPHIE
   ========================================================================== */

   :root {
  /* Palette de couleurs du menu */
  --color-gris: #f5f1e5;      /* Gris clair */
  --color-orange: #ff5e40;  /* Orange */
  --color-bleu: #589cec;/* Bleu */
  --color-vert: #42a44d;   /* Vert */
  --color-jaune: #ffbd2e;   /* Jaune */
  --color-rouge: #EE5253;  /* Rouge  */

  --sidebar-width:clamp(140px, 10vw, 200px);
   }


*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: black;
    
}

h2{
    font-family: "Poppins", serif;
    font-size:  clamp(1rem, 2vw, 3rem);
    font-weight: 800;
    font-style: normal; 
    white-space: nowrap;
}

h3{
    font-family: "Poppins", serif;
    font-size: clamp(0.9rem, 2vw, 2rem);
    white-space: nowrap;
    font-weight: 800;
    font-style: normal;  
}
h4{
    font-family: "Poppins", serif;
    font-size: clamp(0.9rem, 1.5vw, 1.5rem);
    font-weight: 800;
    font-style: normal;  
}

p{
    font-family: "Poppins", serif;
    font-size: clamp(0.8rem, 1.5vw, 1.5rem);
    font-weight: 200;
    font-style: normal;  
    margin-top: 15px;
}


/* ==========================================================================
2. Barre de navigation latérale fixe
========================================================================== */
.sidebar{
    position: fixed;
    left: 2vh;
    top: 2vh;
    bottom: 2vh;

    width:var(--sidebar-width);
}

.menu-vertical{
    height: 92%;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    
}
.sidebar a{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}
.logo, .box1{
    flex: 1;
    
}
.box{
    flex: 3;
}
.logo{
height: 60px;   
margin-bottom: 2vh;
}
.burger-btn{
    display:none;
    border:none;
    background:none;
    color:white;
    font-size:2rem;
    cursor:pointer;
}

/* Conteneur principal décalé pour laisser la place à la sidebar */
.container{
    margin-left:calc(var(--sidebar-width) + 4vh);
}

.jaune { background-color: var(--color-jaune); }
.rouge { background-color: var(--color-rouge); }
.vert { background-color: var(--color-vert); }
.orange { background-color: var(--color-orange); }
.bleu{ background-color: var(--color-bleu); }
.gris { background-color: var(--color-gris); }



/* Barre de navigation fixe - mobile */
@media ( max-width :1550px){
    
    .sidebar{
        position: fixed;

        left: 2vh;
        right: 2vh;
        top: 2vh;

        width: auto;
        height: 60px;


        display: flex;
        align-items: center;
        justify-content: space-between;

        z-index: 9999;
    }
    .sidebar a {
        border-radius: 0 ;
    }
    
    .menu-vertical{
        position:fixed;
        top:80px;
        left:0;

        width:100%;

        display:flex;
        flex-direction:column;

        transform:translateY(-150%);
        transition:0.4s ease;
    }
    .menu-vertical.open{

        transform:translateY(0);
    }
    .box, .box1{
        flex:none;
        width:100%;
        min-height: 12vh;
        border-radius: 0;
        
    }
    .logo{
        flex: initial;
        position: fixed;
        height: 40px;
        margin: 10px;
        padding: 3px 13px;
        z-index: 2000;
        border-radius: 10px !important;
        color: var(--color-gris);
    }

    .burger-btn{
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 3000;

    width: 45px;
    height: 45px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* gap: 5px; */

    background-color: var(--color-rouge);
    border: none;
    border-radius: 10px;

    color: var(--color-gris); /* AJOUTER */
    font-size: 2rem; /* AJOUTER */
    font-weight: bold; /* AJOUTER */

    cursor: pointer;
    }

    .burger-btn span{
    display: block;
    width: 24px;
    height: 4px;
    border-radius: 10px;
    margin: 2px 0;
    

    }

        .menu-vertical.open{
    transform: translateY(0);
    backdrop-filter: blur(12px);
    background: rgba(255,255,255,0.1);
}

    .container{
        margin-left: 2vh;
        

        
    }

}


/* ==========================================================================
3. SECTION ACCUEIL (HERO)
========================================================================== */
h1{
    font-family: "Oi", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: var(--color-orange);
    font-size: clamp(2rem, 4vw, 4rem);

}

.btn-atelier{
    text-decoration: none;
    border: 0;
    padding: 10px 40px;
    font-size: clamp(1rem, 2vw, 2rem);
    text-align: center;
    color: white;
    border-radius: 40px;
    background-color: var(--color-bleu);
    font-family: "Poppins", serif;
    margin-top: 50px;

          
}

.accueil{
    height: 95vh;
    border-radius: 15px;
    margin-top: 2vh;
    margin-right: 2vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
    background-image: url(/Projets-Autonomes/les-affutes/image/10659095.jpg);
    background-repeat: no-repeat;
    background-size: cover;   
    
}

/* ==========================================================================
   4. SECTION ATELIERS (CARROUSEL)
   ========================================================================== */
.section-atelier{
    position: relative;
    padding-top: 2vh;
    margin-right: 2vh;
}  

.atelier-titre h2{
padding: 2vh;
}

.atelier-titre{
    background-color: var(--color-jaune);
    border-radius:15px;
}

/* Flèches du carrousel */   
.fleche-left, .fleche-right{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    width:60px;
    cursor:pointer;
    z-index:10;
    opacity:0.2;
    transition: opacity 0.3s ease;
}

.fleche-left{
 
left: 4vh;
}

.fleche-right{
position: absolute;
right: 4vh;
}

/* Slider défilant */

.carte-atelier{
    display:flex;
    gap:2vh;
    width:100%;

    overflow-x:auto;
    overflow-y:hidden;

    padding: 2vh 0vh;

    scroll-behavior:smooth;
    scrollbar-width: none; /* Cache la barre sous Firefox */
}

.carte-atelier::-webkit-scrollbar{
display:none;/* Cache la barre sous Chrome/Safari */
}

/* Cartes individuelles */

.atelier{
    /* min-height:75vh; */
    display:flex;
    flex-direction:column;
    flex: 0 0 calc((100% - 2vh) / 2);
}

.box-image{
    background-color:var(--color-gris);
    border-radius:15px;

    display:flex;
    justify-content:center;
    align-items:center;

    height: clamp(180px, 50vw, 900px);    
}

.aiguilles-image, .artdeco-image, .couture-image, .cuisine-image{

    max-width: 50%;
    height: auto;
    object-fit: contain;
        
}

.aiguilles-description, .artdeco-description, .couture-description, .cuisine-description {

    border-radius:15px;
    margin-top: 2vh;
    padding: 2vh;
    color:var(--color-gris);
}

.aiguilles-description{
background-color: var(--color-rouge);
} 
.artdeco-description{
    background-color: var(--color-bleu);
   

} 
.couture-description{
    background-color: var(--color-orange);
    
} 
.cuisine-description{
    background-color: var(--color-vert);
    
}

/* Section Carrousel des Ateliers - mobile */
@media ( max-width :1550px){

.fleche-left, .fleche-right{
    display: none;
}
.carte-atelier{
    display: flex;
    flex-wrap: wrap;
}


}
/* ==========================================================================
   5. SECTION PASSEPORTS
   ========================================================================== */

.section-passeports{
    display: flex;
    overflow:hidden;

    background-color: var(--color-gris);
    border-radius: 15px;
    margin-top: 2vh;
    margin-right: 2vh;
    padding: clamp(10px, 6vw, 120px);
    /* flex-wrap:wrap; */
}

.passeport-description{
    display: flex;
    flex-direction: column;
    flex: 2;
    margin: clamp(15px, 3vw, 40px);
    justify-content: center;
    color: var(--color-bleu);
}

.passeport-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.passeport-image-container1, .passeport-image-container2 {
    display: flex;
    flex-direction: row;
}


.passeport-image {
    width: clamp(100px, 15vw, 230px);
    height: auto;
}

/* Animations au survol des passeports */
.passeport-cassecou {
    z-index: 5;
    transform: translateX(-30px) rotate(5deg);
    transition: transform 0.6s ease;
}
.passeport-repartout{
    z-index: 6;
    transition: transform 0.6s ease;
    transform: translateY(10px) rotate(1deg);
}
.passeport-touchatout{
    z-index: 7; 
    transform: translateX(20px) rotate(-5deg);
    transition: transform 0.6s ease;
}
.passeport-couture{
    z-index: 8;
    transform: translateX(50px) rotate(5deg);
    transition: transform 0.6s ease;
}
.passeport-cuisine{
    z-index: 9;
    transform: translateY(-20px) rotate(-3deg);
    transition: transform 0.6s ease;
}
.passeport-Bois{
    z-index: 10;
    transform: translateX(-30px) rotate(-5deg);
    transition: transform 0.6s ease;
}
.passeport-image-container:hover .passeport-cassecou {
    transform: translateX(0px) rotate(5deg);
}
.passeport-image-container:hover .passeport-repartout {
    transform: translateX(0px) rotate(1deg);
}
.passeport-image-container:hover .passeport-touchatout {
    transform: translateX(0px) rotate(-5deg);
}
.passeport-image-container:hover .passeport-couture{
    transform: translateX(0px) rotate(5deg);
} 
.passeport-image-container:hover .passeport-cuisine{
    transform: translateY(0px) rotate(-3deg);
}
.passeport-image-container:hover .passeport-Bois{
    transform: translateX(0px) rotate(-5deg);

}


/* Section Section Passeports - mobile */
@media ( max-width :1550px){
    .section-passeports{
        display: flex;
        flex-direction: column;
        padding-top: 15vw;
   
    }
    .passeport-description {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 5vh;
    
    }
    
}

/* ==========================================================================
   6. SECTION À PROPOS
   ========================================================================== */

.section-apropos{
    background-color:var(--color-orange);
    border-radius: 15px;
    margin-top: 2vh;
    margin-right: 2vh; 
    text-align: center;
}
    
.apropos-image{
    max-width:clamp(200px, 90vw, 800px);;
}

.apropos-description{
    display: flex;
    flex-direction: column;
    padding-bottom: 7vh;
    color: var(--color-gris);
}

.apropos-description p{
    padding: 0 5vh ;
}



/* ==========================================================================
   7. SECTION INSCRIPTION (NEWSLETTER)
   ========================================================================== */
    
 .section-inscription{
    height: 40vh;
    background-color: var(--color-gris);
    border-radius: 15px;
    margin-top: 2vh;
    margin-right: 2vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}
.section-inscription h4{
    color: var(--color-vert);
    margin-bottom: 2vh;
    text-align: center;
}
    
.formulaire input{
    padding: 10px 15px;
    font-size: clamp(10px, 2vw, 20px);
    border: 1px solid var(--color-vert) ;
    border-radius: 10px; 
    margin-bottom: 1vh;
    
    
}

::placeholder{
    font-family: "Poppins", serif;
    font-size: clamp(10px, 2vw, 20px);
    color: var(--color-vert);
    opacity: .7;
}
    

.formulaire button{
    text-decoration: none;
    border: 0;
    padding: 10px 40px;
    font-size: clamp(10px, 1vw, 20px);
    text-align: center;
    color: white;
    border-radius: 10px;
    background-color:var(--color-vert);
        
}

/* Section Newsletter / Inscription  - mobile */
@media ( max-width :1550px){
    .section-inscription{
        padding: 5vh;
    }
    .section-inscription h3{
        width: 70%;
        text-align: center;
    }
    .formulaire{
        display: flex;
        flex-direction: column;
    }

}
    
/* ==========================================================================
   8. FOOTER
   ========================================================================== */
footer{
    margin-top: 2vh;
    margin-right: 2vh;
    background-color: var(--color-vert);
    border-radius: 15px 15px 0px 0px ;    
}

footer h2{
    color: var(--color-gris);
    padding: 110px 0 0 110px;
}

.section-footer{
    display: flex;
    justify-content: space-around;
    margin-top: 5vh;
    color: var(--color-gris);
}

.section-footer img{
    width: 200px;
}

footer span{
    display: flex;
    justify-content:center ;
    margin-top: 10vh;
    padding-bottom: 10px;
    font-family: "Poppins", sans-serif;
    font-size: clamp(10px, 1vw, 20px); 
}

/* Pied de page  - mobile */
footer{
    padding: 5vh;
}
footer h2{
    padding: 0;
    text-align: center;
}

@media ( max-width :1550px){
    .section-footer{
        display: flex;
        flex-direction: column;
        gap: 2vh;
        align-items: center;
    }
}